<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ren.chat.mapper.MsgMapper">

    <select id="getChatMsg" resultType="com.ren.chat.entity.ChatMsg">
        select * from chat_msg where send_user_id = #{sendUserId} or send_user_id = #{receiveUserId}
        or receive_user_id = #{sendUserId} or receive_user_id = #{receiveUserId} order by gmt_create;
    </select>

</mapper>
